In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys

In [37]:
data_dir = os.path.join(os.path.dirname(os.getcwd()), 'data')
result_dir = os.path.join(os.path.dirname(os.getcwd()), 'results')

In [34]:
log = pd.read_csv(os.path.join(data_dir, "logs", 'log.csv'))

In [43]:
result_log_test = pd.read_csv(os.path.join(result_dir,"logs", 'log_[0].csv'))

#set_random_number on the probs column between 0 and 1
result_log_test['probs'] = np.random.uniform(0,1,result_log_test.shape[0])
result_log_test
#to csv
result_log_test.to_csv(os.path.join(result_dir,"logs", 'log_test_random.csv'), index=False)

In [14]:
grouped_log = log.groupby("case:concept:name").get_group("A100")
grouped_log

,Unnamed: 0,amount,org:resource,dismissal,concept:name,vehicleClass,totalPaymentAmount,lifecycle:transition,time:timestamp,article,points,expense,notificationType,lastSent,paymentAmount,matricola,@@index,case:concept:name
0,2,35.0,561.0,NIL,Create Fine,A,0.0,complete,2006-08-01 22:00:00+00:00,157.0,0.0,NaN,NaN,NaN,NaN,NaN,0,A100
1,3,NaN,NaN,NaN,Send Fine,NaN,NaN,complete,2006-12-11 23:00:00+00:00,NaN,NaN,11.0,NaN,NaN,NaN,NaN,1,A100
2,4,NaN,NaN,NaN,Insert Fine Notification,NaN,NaN,complete,2007-01-14 23:00:00+00:00,NaN,NaN,NaN,P,P,NaN,NaN,2,A100
3,5,71.5,NaN,NaN,Add penalty,NaN,NaN,complete,2007-03-15 23:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,A100
4,6,NaN,NaN,NaN,Send for Credit Collection,NaN,NaN,complete,2009-03-29 22:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,A100

In [26]:
#read index 0
index = 0
df = pd.read_csv(os.path.join(data_dir,"X_data", f'{index}full_data.csv')).set_index("case:concept:name")
time_start = pd.to_datetime(df['time:timestamp'], utc=True)
#set column name
time_start.name = 'time_start'
time_start

case:concept:name
A100     2006-08-01 22:00:00+00:00
A10000   2007-03-08 23:00:00+00:00
A10001   2007-03-18 23:00:00+00:00
A10004   2007-03-19 23:00:00+00:00
A10005   2007-03-19 23:00:00+00:00
                    ...
V9995    2002-09-06 22:00:00+00:00
V9996    2002-09-06 22:00:00+00:00
V9997    2002-09-06 22:00:00+00:00
V9998    2002-09-06 22:00:00+00:00
V9999    2002-09-06 22:00:00+00:00
Name: time_start, Length: 126962, dtype: datetime64[ns, UTC]

In [31]:
#read files
index = 0
df = pd.read_csv(os.path.join(data_dir,"X_data", f'{index}full_data.csv')).set_index("case:concept:name")
df["time:timestamp"] = pd.to_datetime(df['time:timestamp'], utc=True)
#merge timestart to df by index
df = df.merge(time_start, on="case:concept:name")
df["duration"] = df["time:timestamp"] - df["time_start"]
#df["du"]

,Unnamed: 0,amount,org:resource,dismissal,concept:name,vehicleClass,totalPaymentAmount,lifecycle:transition,time:timestamp,article,points,expense,notificationType,lastSent,paymentAmount,matricola,time_start,duration
case:concept:name,,,,,,,,,,,,,,,,,,
A100,2,35.0,561.0,NIL,Create Fine,A,0.0,complete,2006-08-01 22:00:00+00:00,157.0,0.0,NaN,NaN,NaN,NaN,NaN,2006-08-01 22:00:00+00:00,0 days
A10000,7,36.0,561.0,NIL,Create Fine,A,0.0,complete,2007-03-08 23:00:00+00:00,157.0,0.0,NaN,NaN,NaN,NaN,NaN,2007-03-08 23:00:00+00:00,0 days
A10001,12,36.0,537.0,NIL,Create Fine,A,0.0,complete,2007-03-18 23:00:00+00:00,157.0,0.0,NaN,NaN,NaN,NaN,NaN,2007-03-18 23:00:00+00:00,0 days
A10004,18,36.0,537.0,NIL,Create Fine,A,0.0,complete,2007-03-19 23:00:00+00:00,157.0,0.0,NaN,NaN,NaN,NaN,NaN,2007-03-19 23:00:00+00:00,0 days
A10005,23,36.0,537.0,NIL,Create Fine,A,0.0,complete,2007-03-19 23:00:00+00:00,157.0,0.0,NaN,NaN,NaN,NaN,NaN,2007-03-19 23:00:00+00:00,0 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
V9995,561447,131.0,25.0,NIL,Create Fine,A,0.0,complete,2002-09-06 22:00:00+00:00,142.0,0.0,NaN,NaN,NaN,NaN,NaN,2002-09-06 22:00:00+00:00,0 days
V9996,561452,131.0,25.0,NIL,Create Fine,A,0.0,complete,2002-09-06 22:00:00+00:00,142.0,0.0,NaN,NaN,NaN,NaN,NaN,2002-09-06 22:00:00+00:00,0 days
V9997,561455,131.0,25.0,NIL,Create Fine,M,0.0,complete,2002-09-06 22:00:00+00:00,142.0,0.0,NaN,NaN,NaN,NaN,NaN,2002-09-06 22:00:00+00:00,0 days
V9998,561460,131.0,25.0,NIL,Create Fine,A,0.0,complete,2002-09-06 22:00:00+00:00,142.0,0.0,NaN,NaN,NaN,NaN,NaN,2002-09-06 22:00:00+00:00,0 days
V9999,561465,131.0,25.0,NIL,Create Fine,A,0.0,complete,2002-09-06 22:00:00+00:00,142.0,0.0,NaN,NaN,NaN,NaN,NaN,2002-09-06 22:00:00+00:00,0 days